body {
    background: rgb(176, 192, 194);
}
<<<<<<< HEAD
/*********************pie de pagina*****************/
.footer {
    height: 8rem;
    padding: 30px;
    background-color: #000;
    color: white;
    font-family: arial;
    font-size: 18px;
    

  }
/*********************fin de pie de pagina************/
=======

img {
    padding: 5px;
    display: flex;
    justify-content: left;
}
>>>>>>> 9d2c469cb2a36ac057edda0166eaaff5f782295b
