.nav-enlace{
    display: inline-block;
    background: rgb(17, 124, 167);
    color: #fff;
    padding: 9px 30px;
    text-decoration: none;
    margin: 5px;        
}
.nav-enlace:hover{
    background: rgb(101, 141, 168);
} 
nav{
    background: rgb(95, 97, 100);
    padding: 15px ; 
    display: flex;
    justify-content: flex-end;
    
}  


